

    <%- include ('../partials/header.ejs'); -%> 
    <%- include ('../partials/topbarAdmin.ejs'); -%> 
    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/sidebarAdmin.ejs'); -%> 
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Add HR Manager</h1>
                  
                </div>
        
                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <nav class="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb ">
                    <a class="nav-link" href="#"><li class="breadcrumb-item bread"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp Home &nbsp >></li></a>
                    <li class="breadcrumb-item bread"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp HR Manager </li>
                    <li class="breadcrumb-item bread"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp Add HR Manager</li>
                    </ol>
                  </nav>
                </div>


                <div class="card" style="width:100%;">
                    <div class="card-body">
                      <h5 class="card-title">Personal Information</h5>
                          <form action="/admin/addHR" class="row g-3 needs-validation" method="post" >
                            <div class="col-md-4">
                              <label for="firstname" class="form-label">First name</label>
                              <input type="text" class="form-control" id="first_name" name="first_name" value="Mark" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="last_name" class="form-label">Last name</label>
                              <input type="text" class="form-control" id="last_name" name="last_name" value="Otto" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            
                            <div class="col-md-4">
                              <label for="dob">Date of Birth</label>
                              <input type="date" class="form-control" id="dob" name="dob" aria-describedby="inputGroupPrepend" required name="birthday">
                              <div class="invalid-feedback">
                                Please provide BirthDate.
                              </div>
                            </div>
                            <div class="col-md-8">
                              <label for="address" class="form-label">Address</label>
                              <input type="text" class="form-control" id="address" name="address" aria-describedby="inputGroupPrepend" required name="address">
                              <div class="invalid-feedback">
                                Please provide a valid address.
                              </div>
                            </div>

                            <div class="col-md-4">
                              <label for="address" class="form-label">Email</label>
                              <input type="text" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend" required >
                              <div class="invalid-feedback">
                                Please provide a valid email.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="gender" class="form-label">Gender</label>
                              <select class="form-select" id="gender" name="gender" required>
                                <option selected disabled value="">Choose...</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                              </select>
                              <div class="invalid-feedback">
                                Please select a valid gender.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="marital_status" class="form-label">Status</label>
                              <select class="form-select" id="marital_status" name="marital_status" required>
                                <option selected disabled value="">Choose...</option>
                                <option>Single</option>
                                <option>Married</option>
                               
                              </select>
                              <div class="invalid-feedback">
                                Please select a status.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="residency" class="form-label">Residency</label>
                              <input type="text" class="form-control" id="residency" name="residency" aria-describedby="inputGroupPrepend" required >
                              <div class="invalid-feedback">
                                Please give valid residency.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="mobile" class="form-label">Mobile</label>
                              <input type="text" class="form-control" id="mobile" value="" name="mobile" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="landline" class="form-label">LandLine</label>
                              <input type="text" class="form-control" id="landline" name="landline"value="" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            

                            
                            
                            
                            
          
                            <h5 class="card-title">Emergency Contact Details(Whom to contact in emergency)</h5>
          
                            <div class="col-md-4">
                              <label for="emergency_firstname" class="form-label">First name</label>
                              <input type="text" class="form-control" id="emergency_first_name" name="emergency_first_name" placeholder="Emergency Firstname"  required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="emergency_last_name" class="form-label">Last name</label>
                              <input type="text" class="form-control" id="emergency_last_name" name="emergency_last_name" placeholder="Emergency Lastname" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-8">
                              <label for="emergency_address" class="form-label">Address</label>
                              <input type="text" class="form-control" id="emergency_address" name="emergency_address" aria-describedby="inputGroupPrepend" required name="address">
                              <div class="invalid-feedback">
                                Please provide a valid address.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="emergency_mobile" class="form-label">Mobile</label>
                              <input type="text" class="form-control" id="emergency_mobile" value="" name="emergency_mobile" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                          
                            <div class="col-md-4">
                              <label for="emergency_landline" class="form-label">LandLine</label>
                              <input type="text" class="form-control" id="emergency_landline" name="emergency_landline"value="" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="relationship" class="form-label">Relationship</label>
                              <input type="text" class="form-control" id="relationship" name="relationship"value="" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            

                            <h5 class="card-title">Job Details</h5>
          
                           
                            <div class="col-md-4">
                              <label for="branch" class="form-label">Branch</label>
                              <select class="form-select" id="branch" name="branch" required>
                                <option selected disabled value="" >Choose...</option>
                                <% for(let b of branches){%>
                                <option value="<%=b.branch_id%>" ><%= b.branch_title %></option>
                             
                                <%}%>
                              </select>
                              <div class="invalid-feedback">
                                Please select a branch.
                              </div>
                             
                            </div>

                            <div class="col-md-4">
                              <label for="job" class="form-label">Job</label>
                              <select class="form-select" id="job" name="job" required>
                                <option selected disabled value="" >Choose...</option>
                                <% for(let j of jobs){%>
                                <option value="<%=j.job_id%>" ><%= j.job_title %></option>
                             
                                <%}%>
                              </select>
                              <div class="invalid-feedback">
                                Please select a job.
                              </div>
                             
                            </div>
                            <div class="col-md-4">
                              <label for="department" class="form-label">Department</label>
                              <select class="form-select" id="department" name="department" required>
                                <option selected disabled value="" >Choose...</option>
                                <% for(let d of department){%>
                                <option value="<%=d.department_id%>" ><%= d.department_title %></option>
                             
                                <%}%>
                              </select>
                              <div class="invalid-feedback">
                                Please select a department.
                              </div>
                             
                            </div>

                            <div class="col-md-4">
                              <label for="role" class="form-label">Role</label>
                              <select class="form-select" id="role" name="role" required>
                                <option selected disabled value="" >Choose...</option>
                                <% for(let r of role){%>
                                <option value="<%=r.role_id%>" ><%= r.role_title %></option>
                             
                                <%}%>
                              </select>
                              <div class="invalid-feedback">
                                Please select a role.
                              </div>
                             
                            </div>

                            <div class="col-md-4">
                              <label for="employment_status" class="form-label">EmploymentStatus</label>
                              <select class="form-select" id="employment_status" name="employment_status" required>
                                <option selected disabled value="">Choose...</option>
                                <% for(let e of employmentStatusesU){%>
                                <option value="<%=e.employment_status%>"><%= e.employment_status %></option>
                             
                                <%}%>
                              </select>
                              <div class="invalid-feedback">
                                Please select an EmploymentStatus.
                              </div>
                             
                            </div>
                            <div class="col-md-4">
                              <label for="employment_status_category" class="form-label">EmploymentStatus Category</label>
                              <select class="form-select" id="employment_status_category" name="employment_status_category" required>
                                <option selected disabled value="">Choose...</option>
                               
                                <option value="fulltime">Full Time</option>
                                <option value="parttime">Part Time</option>
                                <option value="null">Null</option>
                             
                                
                              </select>
                              <div class="invalid-feedback">
                                Please select an EmploymentStatus.
                              </div>
                             
                            </div>

                            <div class="col-md-4">
                              <label for="paygrade" class="form-label">PayGrade</label>
                              <select class="form-select" id="paygrade" name="paygrade" required>
                                <option selected disabled value="">Choose...</option>
                                <% for(let p of payGrades){%>
                                <option value="<%=p.paygrade_id%>"><%= p.paygrade_title %></option>
                             
                                <%}%>
                              </select>
                              <div class="invalid-feedback">
                                Please select a Paygrade.
                              </div>
                             
                            </div>
                            <div class="col-md-4">
                              <label for="accno" class="form-label">Account No</label>
                              <input type="text" class="form-control" id="accno" name="accno" placeholder="Account No"value="" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            
                            
                            
                            
                            

                            <h5 class="card-title">Custom Attributes</h5>
                        
                            <% for (let attribute of attributes){%>
                            <div class="col-md-4">
                              <label for= "<%=attribute.field_id%>" class="form-label"><%=attribute.field_name%></label>
                              <input type="text" class="form-control" id="<%=attribute.field_id%>" name="custom[<%=attribute.field_name%>]" value="<%=attribute.default_value%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <% }%>
                            
                            
                            
                           
                          
                            <div class="col-5"></div>
                            <div class="col-4">
                              <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                          </form>
                      
                    </div>
                  </div>
        
                
        
                
              </main>

        </div>
    </div>
    <%- include ('../partials/footer.ejs'); -%> 

    



