

    <%- include ('../partials/header.ejs'); -%> 
    <%- include ('../partials/topbarAdmin.ejs'); -%> 
    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/sidebarAdmin.ejs'); -%> 
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Edit Custom Attribute</h1>
                  
                </div>
        
                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <nav class="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb ">
                    <a class="nav-link" href="#"><li class="breadcrumb-item bread"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp Home &nbsp >></li></a>
                    <li class="breadcrumb-item bread"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp  Custom Attributes</li>
                   
                    <li class="breadcrumb-item bread"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp Edit Custom Attribute</li>
                   
                    </ol>
                  </nav>
                </div>


                <div class="card" style="width:auto;">
                    <div class="card-body" >
                      
                          <form  action="/admin/viewCustomAttribute/edit/<%=attribute.field_id%>" method="POST" class="row g-3 needs-validation " >
                            <div class="row justify-content-center ">
                              <div class="col-md-4">
                                <label for="attributeName" class="form-label">Attribute Name</label>
                                <input type="text" class="form-control" id="attributeName" name="attribute_name" value="<%=attribute.field_name%>" required>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              </div>
                            </div>
                           
                            <div class="row justify-content-center">
                              <div class="col-md-4  ">
                                <label for="default_value" class="form-label">Default Value</label>
                                <input type="text" class="form-control" id="default_value" name="default_value" value = "<%=attribute.default_value%>" required>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              </div>
                              
                            </div>

                            <div class="row justify-content-center">
                              <div class="col-md-4  ">
                                <label for="field_type" class="form-label">Attribute Type</label>
                                <input type="text" class="form-control" id="field_type" name="field_type" value = "<%=attribute.field_type%>" required>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              </div>
                              
                              
                            </div>
                            <div class="row justify-content-center">
                              <div class="col-md-4  ">
                                <label for="min_length" class="form-label">Min Length</label>
                                <input type="text" class="form-control" id="min_length" name="min_length"value = "<%=attribute.min_length%>"  required>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              </div>
                              
                              
                            </div>

                            <div class="row justify-content-center">
                              <div class="col-md-4  ">
                                <label for="max_length" class="form-label">Max Length</label>
                                <input type="text" class="form-control" id="max_length" name="max_length" value = "<%=attribute.max_length%>" required>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              </div>
                              
                              
                            </div>
                           
                            
                            
                            
                            
          
                           
                            
                            
                            

                            
                            
                            
                           
                          
                            <div class="col-5"></div>
                            <div class="col-4">
                              <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                          </form>
                      
                    </div>
                  </div>
        
                
        
                
              </main>

        </div>
    </div>
    <%- include ('../partials/footer.ejs'); -%> 

    



