<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar  collapse" style="background-color:#040b14;" >
      
   
    <div class="clearfix"></div>
    <h3 class="text-light sidebar_name">Admin</h3>
    
<div class="position-sticky pt-3">
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"><b><span style="color:white;">GENERAL</span></b></h6>
  <ul class="nav flex-column">
    <li class="nav-item">
      
      <a class="nav-link <%= activeAdmin %>"  aria-current="page" href="/admin/dashboard">
        <span data-feather="home"></span>
        <i class="fa fa-home" aria-hidden="true"></i> &nbsp Home
      </a>
    </li>
    <li class="nav-item">
      
    </li>
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <b><span style="color:white;">Advanced</span></b>
    <a class="link-secondary" href="#" aria-label="Add a Custom Attribute">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    
    
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= activeHR %> " href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="file-text"></span>
        <i class="fa fa-users fa-fw" aria-hidden="true"></i> &nbsp HR Manager &nbsp 
      </a>
      <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink" >
            <li><a class="dropdown-item dmi" href="/admin/addHR"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> &nbsp Add HR Manager</a></li>
            <li><a class="dropdown-item dmi" href="/admin/viewHR"><i class="fa fa-user-secret fa-fw" aria-hidden="true"></i> &nbsp View HR Managers</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= activeCustomAttribute %> " href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="file-text"></span>
        <i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp Custom Attributes &nbsp 
      </a>
      <ul class="dropdown-menu dropdown-menu-right " aria-labelledby="dropdownMenuLink" >
            <li><a class="dropdown-item dmi" href="/admin/addCustomAttribute"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> &nbsp Add Custom Attribute</a></li>
            <li><a class="dropdown-item dmi" href="/admin/viewCustomAttribute"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp View Custom Attributes</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle <%= activeStatus %> " href="#"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="file-text"></span>
        <i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp Job Details &nbsp 
      </a>
      <ul class="dropdown-menu dropdown-menu-right <%=activeStatus%> " aria-labelledby="dropdownMenuLink" >
            <li><a class="dropdown-item dmi" href="/admin/employment_status"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> &nbsp EmploymentStatus</a></li>
            <li><a class="dropdown-item dmi" href="/admin/job"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp Job Title</a></li>
            <li><a class="dropdown-item dmi" href="/admin/paygrade"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp PayGrade</a></li>
            <li><a class="dropdown-item dmi" href="/admin/branch"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp Branch</a></li>
            <li><a class="dropdown-item dmi" href="/admin/department"><i class="fa fa-address-card fa-fw" aria-hidden="true"></i> &nbsp Department</a></li>
      </ul>
    </li>
    
    
    
   
   
  </ul>
  
</div>
<footer  class="text-center " >&copy;Copyright
  <span>&nbsp2020</span>
  <b>&nbsp
    <span>HRMS</span></b><br>Designed by <span style="color:#024dbc;">CSE_14</span></footer>
</nav>