

    <%- include ('./partials/header.ejs'); -%> 
    <%- include ('./partials/topbar.ejs'); -%> 
    <% if(paygrade<4){%>
        <% var hidden="hidden" %>
    <%}else{%>
        <% var hidden=" " %>
    <%}%>
   

    <div class="container-fluid">
        <div class="row">
            <%- include ('./partials/sidebar.ejs'); -%> 
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h1 class="h2"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> Edit Profile</h1>
                  
                </div>
        
                <div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <nav class="breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb ">
                    <a class="nav-link" href="#"><li class="breadcrumb-item bread"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp Home &nbsp >></li></a>  <li class="breadcrumb-item bread"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp Employee </li>
                    <li class="breadcrumb-item bread"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp Edit Profile</li>
                    </ol>
                  </nav>
                </div>


                <div class="card" style="width:100%;">
                    <div class="card-body">
                      <h5 class="card-title">Personal Information</h5>
                          <form action="/hr/editProfile/<%=HR.employee_id%>" class="row g-3 needs-validation" method="post" >
                            <div class="col-md-4">
                              <label for="firstname" class="form-label">First name</label>
                              <input type="text" class="form-control" id="first_name" name="first_name" value="<%=HR.first_name%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="last_name" class="form-label">Last name</label>
                              <input type="text" class="form-control" id="last_name" name="last_name" value="<%=HR.last_name%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            
                            <div class="col-md-4">
                              <label for="dob">Date of Birth</label>
                              <input type="date" class="form-control" id="dob" name="dob" aria-describedby="inputGroupPrepend" required name="birthday" value="<%=HR.dob%>">
                              <div class="invalid-feedback">
                                Please provide BirthDate.
                              </div>
                            </div>
                            <div class="col-md-8">
                              <label for="address" class="form-label">Address</label>
                              <input type="text" class="form-control" id="address" name="address" aria-describedby="inputGroupPrepend" required name="address" value="<%=HR.address%>">
                              <div class="invalid-feedback">
                                Please provide a valid address.
                              </div>
                            </div>

                            <div class="col-md-4">
                              <label for="address" class="form-label">Email</label>
                              <input type="text" class="form-control" id="email" name="email" aria-describedby="inputGroupPrepend" required value="<%=HR.email%>" >
                              <div class="invalid-feedback">
                                Please provide a valid email.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="gender" class="form-label">Gender</label>
                              <select class="form-select" id="gender" name="gender" required>
                                <option  value="<%=HR.gender%>"><%=HR.gender%></option>
                                <%= arr=["Male","Female","Other"]%>
                                <% for(let a of arr){%>
                                  <% if(a!=HR.gender){%>
                                  <option value="<%=a%>"> <%=a%></option>
                                  <%}%>
                               <%}%>
                               
                              </select>
                              <div class="invalid-feedback">
                                Please select a valid gender.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="marital_status" class="form-label">Status</label>
                              <select class="form-select" id="marital_status" name="marital_status" required>
                                <option  value="<%=HR.marital_status%>"><%=HR.marital_status%></option>
                                <%= arr=["Single","Married"]%>
                                <% for(let a of arr){%>
                                  <% if(a!=HR.marital_status){%>
                                  <option value="<%=a%>"> <%=a%></option>
                                  <%}%>
                               <%}%>

        
                               
                              </select>
                              <div class="invalid-feedback">
                                Please select a status.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="residency" class="form-label">Residency</label>
                              <input type="text" class="form-control" id="residency" name="residency" aria-describedby="inputGroupPrepend" required value="<%=HR.residency%>">
                              <div class="invalid-feedback">
                                Please give valid residency.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="mobile" class="form-label">Mobile</label>
                              <input type="text" class="form-control" id="mobile"  name="mobile" required value="<%=HR.cell_phone%>"> 
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="landline" class="form-label">LandLine</label>
                              <input type="text" class="form-control" id="landline" name="landline" value="<%=HR.home_phone%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            

                            
                            
                            
                            
                         <div style="visibility:<%=hidden%>" class="row">
                            <h5 class="card-title">Emergency Contact Details(Whom to contact in emergency)</h5>
          
                            <div class="col-md-4">
                              <label for="emergency_firstname" class="form-label">First name</label>
                              <input type="text" class="form-control" id="emergency_first_name" name="emergency_first_name" placeholder="Emergency Firstname" value="<%=HR.emergency_first_name%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="emergency_last_name" class="form-label">Last name</label>
                              <input type="text" class="form-control" id="emergency_last_name" name="emergency_last_name" placeholder="Emergency Lastname" value="<%=HR.emergency_last_name%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-8">
                              <label for="emergency_address" class="form-label">Address</label>
                              <input type="text" class="form-control" id="emergency_address" name="emergency_address" aria-describedby="inputGroupPrepend" required value="<%=HR.emergency_address%>" name="address">
                              <div class="invalid-feedback">
                                Please provide a valid address.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="emergency_mobile" class="form-label">Mobile</label>
                              <input type="text" class="form-control" id="emergency_mobile"  name="emergency_mobile" value="<%=HR.emergency_cell_phone%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                          
                            <div class="col-md-4">
                              <label for="emergency_landline" class="form-label">LandLine</label>
                              <input type="text" class="form-control" id="emergency_landline" name="emergency_landline"value="<%=HR.emergency_home_phone%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="relationship" class="form-label">Relationship</label>
                              <input type="text" class="form-control" id="relationship" name="relationship" value="<%=HR.relationship%>" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            </div>

                           
                           
                          
                            <div class="col-5"></div>
                            <div class="col-4">
                              <button class="btn btn-primary" type="submit">Submit form</button>
                            </div>
                          </form>
                      
                    </div>
                  </div>
        
                
        
                
              </main>

        </div>
    </div>
    <%- include ('./partials/footer.ejs'); -%> 

    



